function Game.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
call Scene.new 0
pop this 1
call Player.new 0
pop this 0
push constant 0
pop this 2
push constant 0
pop this 4
push pointer 0
return
function Game.run 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
label WHILE_EXP0
push this 3
not
not
if-goto WHILE_END0
push pointer 0
call Game.step 1
pop temp 0
push pointer 0
call Game.draw 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.step 0
push argument 0
pop pointer 0
push this 2
push constant 1
add
pop this 2
push this 4
push constant 1
add
pop this 4
push this 1
call Scene.step 1
pop temp 0
push this 0
push this 1
call Keyboard.keyPressed 0
call Player.step 3
pop temp 0
push this 0
call Player.getLeft 1
push this 2
gt
push this 0
call Player.getBottom 1
push constant 255
lt
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 3
label IF_FALSE0
push constant 0
return
function Game.draw 0
push argument 0
pop pointer 0
push this 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
push this 1
push this 2
call Scene.draw 2
pop temp 0
push this 0
push this 2
call Player.draw 2
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 6
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_END0
push constant 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call Player.dispose 1
pop temp 0
push this 1
call Scene.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
