function Time.tickMs 0
push constant 4000
return
function Time.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
return
function Time.fromHMS 4
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
push constant 2
call StringUtils.substring 3
pop local 0
push local 0
call String.intValue 1
pop local 1
push argument 0
push constant 3
push constant 2
call StringUtils.substring 3
pop local 0
push local 0
call String.intValue 1
pop local 2
push argument 0
push constant 6
push constant 2
call StringUtils.substring 3
pop local 0
push local 0
call String.intValue 1
pop local 3
push local 1
push constant 900
call Math.multiply 2
push local 2
push constant 15
call Math.multiply 2
add
push local 3
push constant 4
call Math.divide 2
add
pop this 0
push pointer 0
return
function Time.clone 0
push argument 0
pop pointer 0
push this 0
call Time.new 1
return
function Time.getHour 0
push argument 0
pop pointer 0
push this 0
push constant 900
call Math.divide 2
return
function Time.getMinute 0
push argument 0
pop pointer 0
push this 0
push constant 900
call MathUtils.modulo 2
push constant 15
call Math.divide 2
return
function Time.getSecond 0
push argument 0
pop pointer 0
push constant 4
push this 0
push constant 15
call MathUtils.modulo 2
call Math.multiply 2
return
function Time.advance 0
push argument 0
pop pointer 0
push this 0
push argument 1
add
push constant 21600
call MathUtils.modulo 2
pop this 0
push constant 0
return
function Time.toString 4
push argument 0
pop pointer 0
push constant 8
call String.new 1
pop local 0
push constant 48
pop local 1
push constant 58
pop local 2
push pointer 0
call Time.getHour 1
push constant 2
push local 1
call StringUtils.formatInt 3
pop local 3
push local 0
push local 3
call StringUtils.appendString 2
pop temp 0
push local 3
call String.dispose 1
pop temp 0
push local 0
push local 2
call String.appendChar 2
pop temp 0
push pointer 0
call Time.getMinute 1
push constant 2
push local 1
call StringUtils.formatInt 3
pop local 3
push local 0
push local 3
call StringUtils.appendString 2
pop temp 0
push local 3
call String.dispose 1
pop temp 0
push local 0
push local 2
call String.appendChar 2
pop temp 0
push pointer 0
call Time.getSecond 1
push constant 2
push local 1
call StringUtils.formatInt 3
pop local 3
push local 0
push local 3
call StringUtils.appendString 2
pop temp 0
push local 3
call String.dispose 1
pop temp 0
push local 0
return
